
<%= form_for @assessment, html: { class: "needs-validation was-validated", novalidate: 'novalidate'} do |f| %>
  <% if @assessment.errors.any? %>
  <section id="errors">
    <div class="alert alert-danger" role="alert">
    <header>
      <h2>
        Oops! The <%= @assessment.class.name.titleize.downcase %> could not be saved. 
      </h2>
      <h3>
        Please correct the following <%= pluralize(@assessment.errors.count, "error") %>:
      </h3>
    </header>
    <ul>
      <% @assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  </section>
  <% end %>

  <div style="padding-bottom: 20px; text-align: center;" class="col-sm">
    <%= f.select :client_id, Client.all.collect { |c| [c.name, c.id]}, {prompt: "-Select A Client-"}, { required: true, class: "form-control"} %> 
  </div>
        <h4>Lying on Back</h4>

  <%= render 'assessments/partials/lying_on_back', f: f %>

        <h4>Lying On Stomach</h4>

	<%= render 'assessments/partials/lying_on_stomach', f: f %>
	
        <h4>Seated On Edge of Table</h4>
 
	<%= render 'assessments/partials/seated_on_edge_of_table', f: f %>
	
        <h4>Bench Next To Wall</h4>
 
	<%= render 'assessments/partials/bench_next_to_wall', f: f %>
	
        <h4>Use Incline Bench</h4>
 
	<%= render 'assessments/partials/use_incline_bench', f: f %>
	
        <h4>Lying On Bench</h4>
 
    <%= render 'assessments/partials/lying_on_bench', f: f %>
	
        <h4>Seated In Chair</h4>
 
	<%= render 'assessments/partials/seated_in_chair', f: f %>
	
        <h4>Lying On Floor</h4>
 
   <%= render 'assessments/partials/lying_on_floor', f: f %>
	
    <%= f.submit "Submit Assessment", class: "btn btn-primary btn-lg btn-block" %>

<% end %>