<h2><%= @assessment.client.name %></h2>


	<li><%=  @assessment.knee.knee_flexion_left %></li>
	<li><%=  @assessment.knee.knee_flexion_right %></li>
	<li><%=  @assessment.knee.knee_extension_left %></li>
	<li><%=  @assessment.knee.knee_extension_right %></li>



