<h1>Edit <%= @client.name%></h1>

<%= form_for(@client) do |f| %>
	<p>
		<%= f.label :name %></br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :email %></br>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :phone %></br>
		<%= f.text_field :phone %>
	</p>
	<p>
		<%= f.label :date_of_birth %></br>
		<%= f.text_field :date_of_birth %>
	</p>
	<p>
		<%= f.label :home_address %></br>
		<%= f.text_field :home_address %>
	</p>			
	<p>
		<%= f.submit %>
	</p>
<% end %>