		
<div class="container">	
  <div class="row">
	<div class="col">
		<h4><center><%= pluralize(@up_to_date.length, 'Up-to-Date Assessment') %></center></h4>
		<h6><center><i>These Clients Are Up to Date</i></center></h6>
		
			<% @up_to_date.each do |assessment| %>
			<center><%= link_to "#{assessment.client.name} | #{assessment.created_at.strftime('%D')}", client_path(assessment.client) %></center>
			<% end %>
		
	</div>
	<div class="col">
		<h4><center><%= pluralize(@upcoming.length, 'Upcoming  Assessment') %></center></h4>
		<h6><center><i>3-4 Weeks Since Last Assessment</i></center></h6>

			<% @upcoming.each do |assessment| %>
			<center><%= link_to "#{assessment.client.name} | #{assessment.created_at.strftime('%D')}", client_path(assessment.client) %></center>
			<% end %>
	</div>
	<div class="col">
		<h4><center><%= pluralize(@past_due.length, 'Overdue Assessment') %></center></h4>
		<h6><center><i>Assesments Completed More Than 4 Weeks Ago</i></center></h6>
			<% @past_due.each do |assessment| %>
			<center><%= link_to "#{assessment.client.name} | #{assessment.created_at.strftime('%D')}", client_path(assessment.client) %></center>
			<% end %>
	</div>
  </div>
</div>
	<% content_for :side do %>
		<a class="nav-link "><%= link_to 'Create New Client >>', new_client_path %></a>
		<a class="nav-link"><%= link_to 'Start New Assessment >>', new_assessment_path %></a>

	<% end %>