<div class="container">
  <div class="row">
  	<div class="col">
<%= f.fields_for :scapula, Scapula.new do |b| %>
	<p>
		<%= b.label :scapula_protraction_left %></br>
		<%= b.number_field :scapula_protraction_left, required: true %>
	</p>
	<p>
		<%= b.label :scapula_retraction_left %></br>
		<%= b.number_field :scapula_retraction_left, required: true %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :scapula_protraction_right %></br>
		<%= b.number_field :scapula_protraction_right, required: true %>
	</p>
	<p>
		<%= b.label :scapula_retraction_right %></br>
		<%= b.number_field :scapula_retraction_right, required: true %>
	</p>
<% end %>
	</div>
  </div>
</div>