<div class="container">
  <div class="row">
  	<div class="col">	
	<%= f.fields_for :scapula, Scapula.new do |b| %>
	<p>
		<%= b.label :scapula_depression_left %></br>
		<%= b.number_field :scapula_depression_left %>
	</p>
	<% end %>

	<%= f.fields_for :core, Core.new do |b| %>
	<p>
		<%= b.label :trunk_lateral_flexion_left %></br>
		<%= b.number_field :trunk_lateral_flexion_left %>
	</p>
	<% end %>
	</div>
	<div class="col">
	<%= f.fields_for :scapula, Scapula.new do |b| %>					
	<p>
		<%= b.label :scapula_depression_right %></br>
		<%= b.number_field :scapula_depression_right %>
	</p>

	<% end %>

	<%= f.fields_for :core, Core.new do |b| %>
	<p>
		<%= b.label :trunk_lateral_flexion_right %></br>
		<%= b.number_field :trunk_lateral_flexion_right %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :trunk_flexion %></br>
		<%= b.number_field :trunk_flexion %>
	</p>
	<% end %>
	</div>
  </div>
</div>