<div class="container">
  <div class="row">
  	<div class="col">
  	<%= f.fields_for :scapula do |b| %>
    <p> 
      <%= b.label :scapula_upward_rotation_left %> </br>
      <%= b.number_field :scapula_upward_rotation_left, required: true, tabindex: 1, class: "form-control" %>
    </p>
    <p>
      <%= b.label :scapula_downward_rotation_left %></br>
      <%= b.number_field :scapula_downward_rotation_left, required: true, tabindex: 2, class: "form-control" %>
    </p>
  </div>
  <div class="col">
    <p>
      <%= b.label :scapula_upward_rotation_right %></br>
      <%= b.number_field :scapula_upward_rotation_right, required: true, tabindex: 21, class: "form-control" %>
    </p>
    <p>
      <%= b.label :scapula_downward_rotation_right %></br>
      <%= b.number_field :scapula_downward_rotation_right, required: true, class: "form-control" %>
    </p>

    <% end %>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<%= f.fields_for :shoulder do |b| %>
	<p>
		<%= b.label :shoulder_flexion_left %></br>
		<%= b.number_field :shoulder_flexion_left, tabindex: 3, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :shoulder_extension_left %></br>
		<%= b.number_field :shoulder_extension_left, tabindex: 4, required: true, class: "form-control" %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :shoulder_flexion_right %></br>
		<%= b.number_field :shoulder_flexion_right, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :shoulder_extension_right %></br>
		<%= b.number_field :shoulder_extension_right, required: true, class: "form-control" %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :shoulder_abduction_left %></br>
		<%= b.number_field :shoulder_abduction_left, required: true, class: "form-control", tabindex: 5 %>
	</p>
	<p>
		<%= b.label :shoulder_adduction_left %></br>
		<%= b.number_field :shoulder_adduction_left, required: true, class: "form-control", tabindex: 6 %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :shoulder_abduction_right %></br>
		<%= b.number_field :shoulder_abduction_right, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :shoulder_adduction_right %></br>
		<%= b.number_field :shoulder_adduction_right, required: true, class: "form-control" %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :shoulder_internal_rotation_left %></br>
		<%= b.number_field :shoulder_internal_rotation_left, required: true, class: "form-control", tabindex: 7 %>
	</p>
	<p>
		<%= b.label :shoulder_external_rotation_left %></br>
		<%= b.number_field :shoulder_external_rotation_left, tabindex: 8, required: true, class: "form-control" %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :shoulder_internal_rotation_right %></br>
		<%= b.number_field :shoulder_internal_rotation_right, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :shoulder_external_rotation_right %></br>
		<%= b.number_field :shoulder_external_rotation_right, required: true, class: "form-control" %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :shoulder_horizontal_abduction_left %></br>
		<%= b.number_field :shoulder_horizontal_abduction_left, tabindex: 9, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :shoulder_horizontal_adduction_left %></br>
		<%= b.number_field :shoulder_horizontal_adduction_left, tabindex: 10, required: true, class: "form-control" %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :shoulder_horizontal_abduction_right %></br>
		<%= b.number_field :shoulder_horizontal_abduction_right, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :shoulder_horizontal_adduction_right %></br>
		<%= b.number_field :shoulder_horizontal_adduction_right, required: true, class: "form-control" %>
	</p>
	<% end %>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<%= f.fields_for :hip do |b| %>
	<p>
		<%= b.label :hip_flexion_left %></br>
		<%= b.number_field :hip_flexion_left, tabindex: 11, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :hip_internal_rotation_90_left %></br>
		<%= b.number_field :hip_internal_rotation_90_left, tabindex: 12, required: true, class: "form-control" %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :hip_flexion_right %></br>
		<%= b.number_field :hip_flexion_right, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :hip_internal_rotation_90_right %></br>
		<%= b.number_field :hip_internal_rotation_90_right, required: true, class: "form-control" %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :hip_external_rotation_90_left %></br>
		<%= b.number_field :hip_external_rotation_90_left, tabindex: 13, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :hip_abduction_left %></br>
		<%= b.number_field :hip_abduction_left, tabindex: 14, required: true, class: "form-control" %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :hip_external_rotation_90_right %></br>
		<%= b.number_field :hip_external_rotation_90_right, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :hip_abduction_right %></br>
		<%= b.number_field :hip_abduction_right, required: true, class: "form-control" %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :hip_adduction_left %></br>
		<%= b.number_field :hip_adduction_left, tabindex: 15, required: true, class: "form-control" %>
	</p>
	<% end %>

	<%= f.fields_for :ankle do |b| %>
	<p>
		<%= b.label :ankle_dorsiflexion_left %></br>
		<%= b.number_field :ankle_dorsiflexion_left, tabindex: 16, required: true, class: "form-control" %>
	</p>
	<% end %>
	</div>
	<div class="col">
	<%= f.fields_for :hip do |b| %>
	<p>
		<%= b.label :hip_adduction_right %></br>
		<%= b.number_field :hip_adduction_right, required: true, class: "form-control" %>
	</p>
	<% end %>

	<%= f.fields_for :ankle do |b| %>
	<p>
		<%= b.label :ankle_dorsiflexion_right %></br>
		<%= b.number_field :ankle_dorsiflexion_right, required: true, class: "form-control" %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :ankle_inversion_left %></br>
		<%= b.number_field :ankle_inversion_left, tabindex: 17, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :ankle_eversion_left %></br>
		<%= b.number_field :ankle_eversion_left, tabindex: 18, required: true, class: "form-control" %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :ankle_inversion_right %></br>
		<%= b.number_field :ankle_inversion_right, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :ankle_eversion_right %></br>
		<%= b.number_field :ankle_eversion_right, required: true, class: "form-control" %>
	</p>
	<% end %>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<%= f.fields_for :scapula do |b| %>
	<p>
		<%= b.label :scapula_elevation_left %></br>
		<%= b.number_field :scapula_elevation_left, tabindex: 19, required: true, class: "form-control" %>
	</p>
	<% end %>
	</div>
	<div class="col">
	<%= f.fields_for :scapula do |b| %>
	<p>
		<%= b.label :scapula_elevation_right %></br>
		<%= b.number_field :scapula_elevation_right, required: true, class: "form-control" %>
	</p>
	<% end %>
	</div>
  </div>
</div>