<div class="container">
  <div class="row">
  	<div class="col">
	<%= f.fields_for :scapula, Scapula.new do |b| %>
		<p>	
			<%= b.label :scapula_upward_rotation_left %> </br>
			<%= b.number_field :scapula_upward_rotation_left, required: true, tabindex: 1 %>
		</p>
		<p>
			<%= b.label :scapula_downward_rotation_left %></br>
			<%= b.number_field :scapula_downward_rotation_left, required: true, tabindex: 2 %>
		</p>
	</div>
	<div class="col">
		<p>
			<%= b.label :scapula_upward_rotation_right %></br>
			<%= b.number_field :scapula_upward_rotation_right, required: true, tabindex: 21 %>
		</p>
		<p>
			<%= b.label :scapula_downward_rotation_right %></br>
			<%= b.number_field :scapula_downward_rotation_right, required: true %>
		</p>
	<% end %>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<%= f.fields_for :shoulder, Shoulder.new do |b| %>
	<p>
		<%= b.label :shoulder_flexion_left %></br>
		<%= b.number_field :shoulder_flexion_left, required: true, tabindex: 3 %>
	</p>
	<p>
		<%= b.label :shoulder_extension_left %></br>
		<%= b.number_field :shoulder_extension_left, required: true, tabindex: 4 %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :shoulder_flexion_right %></br>
		<%= b.number_field :shoulder_flexion_right, required: true %>
	</p>
	<p>
		<%= b.label :shoulder_extension_right %></br>
		<%= b.number_field :shoulder_extension_right, required: true %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :shoulder_abduction_left %></br>
		<%= b.number_field :shoulder_abduction_left, required: true, tabindex: 5 %>
	</p>
	<p>
		<%= b.label :shoulder_adduction_left %></br>
		<%= b.number_field :shoulder_adduction_left, required: true, tabindex: 6 %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :shoulder_abduction_right %></br>
		<%= b.number_field :shoulder_abduction_right, required: true %>
	</p>
	<p>
		<%= b.label :shoulder_adduction_right %></br>
		<%= b.number_field :shoulder_adduction_right, required: true %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :shoulder_internal_rotation_left %></br>
		<%= b.number_field :shoulder_internal_rotation_left, required: true, tabindex: 7 %>
	</p>
	<p>
		<%= b.label :shoulder_external_rotation_left %></br>
		<%= b.number_field :shoulder_external_rotation_left, required: true, tabindex: 8 %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :shoulder_internal_rotation_right %></br>
		<%= b.number_field :shoulder_internal_rotation_right, required: true %>
	</p>
	<p>
		<%= b.label :shoulder_external_rotation_right %></br>
		<%= b.number_field :shoulder_external_rotation_right, required: true %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :shoulder_horizontal_abduction_left %></br>
		<%= b.number_field :shoulder_horizontal_abduction_left, required: true, tabindex: 9 %>
	</p>
	<p>
		<%= b.label :shoulder_horizontal_adduction_left %></br>
		<%= b.number_field :shoulder_horizontal_adduction_left, required: true, tabindex: 10 %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :shoulder_horizontal_abduction_right %></br>
		<%= b.number_field :shoulder_horizontal_abduction_right, required: true %>
	</p>
	<p>
		<%= b.label :shoulder_horizontal_adduction_right %></br>
		<%= b.number_field :shoulder_horizontal_adduction_right, required: true %>
	</p>
	<% end %>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<%= f.fields_for :hip, Hip.new do |b| %>
	<p>
		<%= b.label :hip_flexion_left %></br>
		<%= b.number_field :hip_flexion_left, required: true, tabindex: 11 %>
	</p>
	<p>
		<%= b.label :hip_internal_rotation_90_left %></br>
		<%= b.number_field :hip_internal_rotation_90_left, required: true, tabindex: 12 %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :hip_flexion_right %></br>
		<%= b.number_field :hip_flexion_right, required: true %>
	</p>
	<p>
		<%= b.label :hip_internal_rotation_90_right %></br>
		<%= b.number_field :hip_internal_rotation_90_right, required: true %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :hip_external_rotation_90_left %></br>
		<%= b.number_field :hip_external_rotation_90_left, required: true, tabindex: 13 %>
	</p>
	<p>
		<%= b.label :hip_abduction_left %></br>
		<%= b.number_field :hip_abduction_left, required: true, tabindex: 14 %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :hip_external_rotation_90_right %></br>
		<%= b.number_field :hip_external_rotation_90_right, required: true %>
	</p>
	<p>
		<%= b.label :hip_abduction_right %></br>
		<%= b.number_field :hip_abduction_right, required: true %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :hip_adduction_left %></br>
		<%= b.number_field :hip_adduction_left, required: true, tabindex: 15 %>
	</p>
	<% end %>

	<%= f.fields_for :ankle, Ankle.new do |b| %>
	<p>
		<%= b.label :ankle_dorsiflexion_left %></br>
		<%= b.number_field :ankle_dorsiflexion_left, required: true, tabindex: 16 %>
	</p>
	<% end %>
	</div>
	<div class="col">
	<%= f.fields_for :hip, Hip.new do |b| %>
	<p>
		<%= b.label :hip_adduction_right %></br>
		<%= b.number_field :hip_adduction_right, required: true %>
	</p>
	<% end %>

	<%= f.fields_for :ankle, Ankle.new do |b| %>
	<p>
		<%= b.label :ankle_dorsiflexion_right %></br>
		<%= b.number_field :ankle_dorsiflexion_right, required: true %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :ankle_inversion_left %></br>
		<%= b.number_field :ankle_inversion_left, required: true, tabindex: 17 %>
	</p>
	<p>
		<%= b.label :ankle_eversion_left %></br>
		<%= b.number_field :ankle_eversion_left, required: true, tabindex: 18 %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :ankle_inversion_right %></br>
		<%= b.number_field :ankle_inversion_right, required: true %>
	</p>
	<p>
		<%= b.label :ankle_eversion_right %></br>
		<%= b.number_field :ankle_eversion_right, required: true %>
	</p>
	<% end %>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<%= f.fields_for :scapula, Scapula.new do |b| %>
	<p>
		<%= b.label :scapula_elevation_left %></br>
		<%= b.number_field :scapula_elevation_left, required: true, tabindex: 19 %>
	</p>
	<% end %>
	</div>
	<div class="col">
	<%= f.fields_for :scapula, Scapula.new do |b| %>
	<p>
		<%= b.label :scapula_elevation_right %></br>
		<%= b.number_field :scapula_elevation_right, required: true %>
	</p>
	<% end %>
	</div>
  </div>
</div>