<div class="container">
  <div class="row">
  	<div class="col">
	<%= f.fields_for :scapula, Scapula.new do |b| %>
		<p>	
			<%= b.label :scapula_upward_rotation_left %> </br>
			<%= b.number_field :scapula_upward_rotation_left %>
		</p>
		<p>
			<%= b.label :scapula_downward_rotation_left %></br>
			<%= b.number_field :scapula_downward_rotation_left %>
		</p>
	</div>
	<div class="col">
		<p>
			<%= b.label :scapula_upward_rotation_right %></br>
			<%= b.number_field :scapula_upward_rotation_right %>
		</p>
		<p>
			<%= b.label :scapula_downward_rotation_right %></br>
			<%= b.number_field :scapula_downward_rotation_right %>
		</p>
	<% end %>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<%= f.fields_for :shoulder, Shoulder.new do |b| %>
	<p>
		<%= b.label :shoulder_flexion_left %></br>
		<%= b.number_field :shoulder_flexion_left %>
	</p>
	<p>
		<%= b.label :shoulder_extension_left %></br>
		<%= b.number_field :shoulder_extension_left %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :shoulder_flexion_right %></br>
		<%= b.number_field :shoulder_flexion_right %>
	</p>
	<p>
		<%= b.label :shoulder_extension_right %></br>
		<%= b.number_field :shoulder_extension_right %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :shoulder_abduction_left %></br>
		<%= b.number_field :shoulder_abduction_left %>
	</p>
	<p>
		<%= b.label :shoulder_adduction_left %></br>
		<%= b.number_field :shoulder_adduction_left %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :shoulder_abduction_right %></br>
		<%= b.number_field :shoulder_abduction_right %>
	</p>
	<p>
		<%= b.label :shoulder_adduction_right %></br>
		<%= b.number_field :shoulder_adduction_right %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :shoulder_internal_rotation_left %></br>
		<%= b.number_field :shoulder_internal_rotation_left %>
	</p>
	<p>
		<%= b.label :shoulder_external_rotation_left %></br>
		<%= b.number_field :shoulder_external_rotation_left %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :shoulder_internal_rotation_right %></br>
		<%= b.number_field :shoulder_internal_rotation_right %>
	</p>
	<p>
		<%= b.label :shoulder_external_rotation_right %></br>
		<%= b.number_field :shoulder_external_rotation_right %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :shoulder_horizontal_abduction_left %></br>
		<%= b.number_field :shoulder_horizontal_abduction_left %>
	</p>
	<p>
		<%= b.label :shoulder_horizontal_adduction_left %></br>
		<%= b.number_field :shoulder_horizontal_adduction_left %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :shoulder_horizontal_abduction_right %></br>
		<%= b.number_field :shoulder_horizontal_abduction_right %>
	</p>
	<p>
		<%= b.label :shoulder_horizontal_adduction_right %></br>
		<%= b.number_field :shoulder_horizontal_adduction_right %>
	</p>
	<% end %>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<%= f.fields_for :hip, Hip.new do |b| %>
	<p>
		<%= b.label :hip_flexion_left %></br>
		<%= b.number_field :hip_flexion_left %>
	</p>
	<p>
		<%= b.label :hip_internal_rotation_90_left %></br>
		<%= b.number_field :hip_internal_rotation_90_left %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :hip_flexion_right %></br>
		<%= b.number_field :hip_flexion_right %>
	</p>
	<p>
		<%= b.label :hip_internal_rotation_90_right %></br>
		<%= b.number_field :hip_internal_rotation_90_right %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :hip_external_rotation_90_left %></br>
		<%= b.number_field :hip_external_rotation_90_left %>
	</p>
	<p>
		<%= b.label :hip_abduction_left %></br>
		<%= b.number_field :hip_abduction_left %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :hip_external_rotation_90_right %></br>
		<%= b.number_field :hip_external_rotation_90_right %>
	</p>
	<p>
		<%= b.label :hip_abduction_right %></br>
		<%= b.number_field :hip_abduction_right %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :hip_adduction_left %></br>
		<%= b.number_field :hip_adduction_left %>
	</p>
	<% end %>

	<%= f.fields_for :ankle, Ankle.new do |b| %>
	<p>
		<%= b.label :ankle_dorsiflexion_left %></br>
		<%= b.number_field :ankle_dorsiflexion_left %>
	</p>
	<% end %>
	</div>
	<div class="col">
	<%= f.fields_for :hip, Hip.new do |b| %>
	<p>
		<%= b.label :hip_adduction_right %></br>
		<%= b.number_field :hip_adduction_right %>
	</p>
	<% end %>

	<%= f.fields_for :ankle, Ankle.new do |b| %>
	<p>
		<%= b.label :ankle_dorsiflexion_right %></br>
		<%= b.number_field :ankle_dorsiflexion_right %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :ankle_inversion_left %></br>
		<%= b.number_field :ankle_inversion_left %>
	</p>
	<p>
		<%= b.label :ankle_eversion_left %></br>
		<%= b.number_field :ankle_eversion_left %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :ankle_inversion_right %></br>
		<%= b.number_field :ankle_inversion_right %>
	</p>
	<p>
		<%= b.label :ankle_eversion_right %></br>
		<%= b.number_field :ankle_eversion_right %>
	</p>
	<% end %>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<%= f.fields_for :scapula, Scapula.new do |b| %>
	<p>
		<%= b.label :scapula_elevation_left %></br>
		<%= b.number_field :scapula_elevation_left %>
	</p>
	<% end %>
	<%= f.fields_for :core, Core.new do |b| %>
  <div class="mx-auto">
	<p>
		<%= b.label :pelvic_stability %></br>
		<%= b.number_field :pelvic_stability %>
	</p>
  </div>
	<% end %>
	</div>
	<div class="col">
	<%= f.fields_for :scapula, Scapula.new do |b| %>
	<p>
		<%= b.label :scapula_elevation_right %></br>
		<%= b.number_field :scapula_elevation_right %>
	</p>
	<% end %>
	</div>
  </div>
</div>