<div class="container">
  <div class="row">
  	<div class="col">
<%= f.fields_for :wrist do |b| %>
	<p>
		<%= b.label :wrist_flexion_left %></br>
		<%= b.number_field :wrist_flexion_left, tabindex: 1, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :wrist_extension_left %></br>
		<%= b.number_field :wrist_extension_left, tabindex: 2, required: true, class: "form-control" %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :wrist_flexion_right %></br>
		<%= b.number_field :wrist_flexion_right, required: true, class: "form-control" %>
	</p>				
	<p>
		<%= b.label :wrist_extension_right %></br>
		<%= b.number_field :wrist_extension_right, required: true, class: "form-control" %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :wrist_radial_deviation_left %></br>
		<%= b.number_field :wrist_radial_deviation_left, tabindex: 3, required: true, class: "form-control" %>
	</p>
	<p>
		<%= b.label :wrist_ulnar_deviation_left %></br>
		<%= b.number_field :wrist_ulnar_deviation_left, tabindex: 4, required: true, class: "form-control" %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :wrist_radial_deviation_right %></br>
		<%= b.number_field :wrist_radial_deviation_right, required: true, class: "form-control" %>
	</p>						
	<p>
		<%= b.label :wrist_ulnar_deviation_right %></br>
		<%= b.number_field :wrist_ulnar_deviation_right, required: true, class: "form-control" %>
	</p>
<% end %>
	</div>
  </div>
</div>