<div class="container">
  <div class="row">
  	<div class="col">
<%= f.fields_for :wrist, Wrist.new do |b| %>
	<p>
		<%= b.label :wrist_flexion_left %></br>
		<%= b.number_field :wrist_flexion_left, required: true, tabindex: 1 %>
	</p>
	<p>
		<%= b.label :wrist_extension_left %></br>
		<%= b.number_field :wrist_extension_left, required: true, tabindex: 2 %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :wrist_flexion_right %></br>
		<%= b.number_field :wrist_flexion_right, required: true %>
	</p>				
	<p>
		<%= b.label :wrist_extension_right %></br>
		<%= b.number_field :wrist_extension_right, required: true %>
	</p>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<p>
		<%= b.label :wrist_radial_deviation_left %></br>
		<%= b.number_field :wrist_radial_deviation_left, required: true, tabindex: 3 %>
	</p>
	<p>
		<%= b.label :wrist_ulnar_deviation_left %></br>
		<%= b.number_field :wrist_ulnar_deviation_left, required: true, tabindex: 4 %>
	</p>
	</div>
	<div class="col">
	<p>
		<%= b.label :wrist_radial_deviation_right %></br>
		<%= b.number_field :wrist_radial_deviation_right, required: true %>
	</p>						
	<p>
		<%= b.label :wrist_ulnar_deviation_right %></br>
		<%= b.number_field :wrist_ulnar_deviation_right, required: true %>
	</p>
<% end %>
	</div>
  </div>
</div>